
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff0f5;
  color: #333;
}

header {
  background: #ff69b4;
  padding: 20px;
  text-align: center;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
  color: #ff69b4;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}
